## Import all packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
from urllib.request import urlretrieve

## Download dataset

In [2]:
link = "https://raw.githubusercontent.com/sernome/segmentation/master/Customer%20Segmentation/Mall_Customers.csv"
dataset_name = "mall_dataset.csv"

def fetch_data():
    new_folder = "Customer Segmentation - Mall Dataset"
    download_path = os.path.join(os.getcwd(),new_folder)
    os.mkdir(download_path)
    os.chdir(download_path)
    urlretrieve(link, dataset_name)
    if dataset_name in os.listdir():
        print("Dataset successfully downloaded!")
    else:
        print("Dataset NOT successfully downloaded. Please doublecheck.")

fetch_data()

Dataset successfully downloaded!

## Create Pandas dataframe

In [4]:
mall = pd.read_csv(dataset_name)
mall.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [5]:
mall.tail()

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83